@import url('base.css');
@import url('depoimentos.css');

/* Inicio */
.inicio{
    background-image: url('/images/FotoInicioPC.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    padding: 40px 20px;
    object-fit: cover;
}

.container-inicio{
    position: relative;
    margin-left: 5%;
    width: 40%;
    height: 500px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.container-inicio h1{
    font-family: 'Alta', sans-serif;
    font-size: 36px;
    color: var(--branco);
}

.container-inicio p{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    color: var(--branco);
}

.buttons-inicio{
    display: flex;
    gap: 20px;
}

.buttons-inicio button{
    background-color: var(--branco);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;

    color: var(--azul);
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;

    transition: 300ms;
    box-shadow: var(--shadow);
}

.buttons-inicio button:hover{
    background-color: var(--bege);
    transform: scale(1.05);
}

/* Por que? */
.motivo{
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.motivo h1{
    font-family: 'Alta';
    color: var(--bege);
    font-size: 36px;
}

.container-motivo{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-top: 40px;
}

.container-motivo-2{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-top: 20px;
}

.container-item-motivo{
    background-color: var(--bege);
    width: 320px;
    height: 320px;
    border-radius: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: var(--shadow);
}

.container-item-motivo span{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;

    color: var(--azul);
}

.container-item-motivo p{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
}

/* Como funciona? */
.info{
    background-color: var(--bege);
    padding: 40px 20px;
}

.title-info h1{
    color: var(--azul);
    text-align: center;
    font-size: 36px;
    font-family: "Alta",sans-serif;
}

.container-info{
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding-top: 40px;

    border-top: 1px solid var(--azul);
}

.item-info{
    width: 200px;
    height: 120px;
}

.item-info h1{
    color: var(--azul);
    font-size: 30px;
    font-family: "Alta", sans-serif;
}


.item-info p{
    color: var(--azul);
    font-size: 17px;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
}

/* Equipe */
.equipe{
    background-color: var(--azul);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.container-equipe{
    display: flex;
    gap: 20px;
}

.container-item-equipe{
    background-color: var(--branco);
    border-radius: 25px;
    width: 400px;
    box-shadow: var(--shadow);
    overflow: hidden;
}

.equipe h1{
    color: var(--bege);
    text-align: center;
    font-size: 36px;
    font-family: "Alta",sans-serif;
}

.images-equipe{
    display: flex;
    align-items: center;
    justify-content: center;
}

.images-equipe img{
    height: 300px;
    object-fit: cover;
}

.container-textos-equipe{
    text-align: start;
    padding: 20px;
}

.container-textos-equipe h1{
    text-align: start;

    color: var(--azul);
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
}

.container-textos-equipe p{
    color: var(--azul);
    font-family: 'Montserrat',sans-serif;
    font-size: 17px;
}

/* Cursos */
.cursos{
    background-color: var(--azul);
    padding: 40px 20px;
}

.container-cursos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.container-cursos-images img{
    max-width: 500px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.container-cursos-textos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}

.container-cursos-textos h1{
    color: var(--bege);
    font-size: 36px;
    font-family: "Alta",sans-serif;
}

.container-cursos-textos p{
    color: var(--bege);
    text-align: justify;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.buttons-cursos-fora{
    display: flex;
    margin-top: 40px;
}

.buttons-cursos-fora button{
    background-color: var(--bege);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;

    color: var(--azul);
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;

    transition: 300ms;
    box-shadow: var(--shadow);
}

.buttons-cursos-fora button:hover{
    background-color: var(--branco);
    transform: scale(1.05);
}

/* Parceiros */
.parceiros{
    background-color: var(--bege);
    padding: 40px 20px;
}

.parceiros h1{
    color: var(--azul);
    text-align: center;
    font-size: 36px;
    font-family: "Alta",sans-serif;
}

/* Call to Action */
.cta{
    background-color: var(--azul);
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cta h1{
    color: var(--bege);
    text-align: center;
    font-size: 36px;
    font-family: "Alta",sans-serif;
}

.cta p{
    color: var(--bege);
    text-align: center;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    width: 50%;
}

.buttons-cta{
    display: flex;
    justify-content: center;
}

.buttons-cta button{
    background-color: var(--bege);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;

    color: var(--azul);
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;

    transition: 300ms;
    box-shadow: var(--shadow);
}

.buttons-cta button:hover{
    background-color: var(--branco);
    transform: scale(1.05);
}

/* Media para iPads & tablets */
@media (min-width: 751px) and (max-width: 1024px) {
    .inicio{
        background-image: url('/images/FotoInicioTablet.jpg');
    }
    
    .container-inicio{
        position: unset;
        align-items: center;
        justify-content: unset;
        margin-left: 0px;
        width: 100%;
        margin-top: 40px;

        height: 800px;
    }

    .container-inicio h1{
        text-align: center;
    }

    .container-inicio p{
        text-align: center;
        width: 80%;
    }

    .container-motivo{
        flex-direction: column;
    }

    .container-motivo-2{
        flex-direction: column;
    }

    .container-item-motivo span{
        text-align: center;
    }
    
    .container-item-motivo p{
        text-align: center;
    }

    .container-info{
        grid-template-columns: auto auto;
    }

    .container-equipe{
        flex-direction: column;
    }

    .container-cursos{
        flex-direction: column;
    }

    .cta p{
        width: 80%;
    }
}

/* Media para Dispositivos Móveis */
@media (max-width: 750px) {
    .inicio{
        background-image: url('/images/FotoInicioSmart.jpg');
    }
    
    .container-inicio{
        position: unset;
        align-items: center;
        justify-content: unset;
        margin-left: 0px;
        width: 100%;
        margin-top: 20%;

        height: 800px;
    }

    .container-inicio h1{
        text-align: center;
    }

    .container-inicio p{
        text-align: center;
        width: 80%;
    }

    .container-motivo{
        flex-direction: column;
    }

    .container-motivo-2{
        flex-direction: column;
    }

    .container-item-motivo span{
        text-align: center;
    }
    
    .container-item-motivo p{
        text-align: center;
    }

    .container-info{
        grid-template-columns: auto ;
        height: 540px;
    }

    .item-info{
        width: 100%;
        height: 50px;
    }

    .container-equipe{
        flex-direction: column;
    }

    .container-cursos{
        flex-direction: column;
    }

    .container-cursos-images img{
        width: 100%;
        height: 100%;
    }

    .cta p{
        width: 100%;
    }
}